body {
  background-color: white;
}


h1 {
  color: #ff531a;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.login
{
  color: #ff531a;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  height: 125px;
  width: 500px;  
  font-size:20px;
}
.bentornato
{
  color: #ff531a;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  height: 60px;
  width: 450px;  
  font-size: 30px;	
	
	
}

.tipologia
{
  font-size: 25px;
  color: #ff531a;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  height: 100px;
  width: 300px;  
  display:inline-block;
  	
}

.prodotti
{
  color: #ff531a;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  height: 1000px;
  width: 800px;  
  font-weight: bold;
  font-size: 20px; 
  display:inline-block;
  position: relative;  
  bottom: 33px;
  left:50px;	
	
	
}

.login
{
  color: #ff531a;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  height: 190px;
  width: 230px;  
  font-size:20px;
}

.registrati
{
  color: #ff531a;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border: 3px solid grey;
  border-radius: 8px;
  height: 380px;
  width: 1000px;  
  font-size:20px;
  position: relative;  
  bottom: 10px;
  left: 150px;	  
}

a {
  color: #1a53ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15;

}
a:link{
color: #1a53ff;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

input {
color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  
 }

.input2 {
  cursor: pointer;
 
 }